// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
	margin-left: 1.5em;
	margin-top: 0.5em;
	padding: 0.25em 0;
	border-top: 1px solid $info;
	border-bottom: 1px solid $info;
	display: block;
	& + .comment {
		margin-top: 0;
	}
}